*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    /*background: linear-gradient(152deg, rgba(3,0,50,1) 0%, rgba(82,71,138,1) 50%, rgba(0,125,151,1) 100%);*/
    background: linear-gradient(152deg, rgba(3,0,50,1) 0%, rgba(40,9,226,1) 18%, rgba(42,3,243,1) 38%, rgba(13,86,130,1) 75%, rgba(0,125,151,1) 89%);
    background-repeat: no-repeat;
}

header{
    margin-bottom: 1.5em;
}

.nav-1{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding-top: 16px;
}

.nav-1 li{
    list-style: none;
    font-size: 1.6em;
}

.nav-1 li a {
    color: aliceblue;
    text-decoration: none;
}

.nav-1 li select{
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 0.9em;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 3px;
}

.nav-1 li a, .nav-1 li option{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-1 li a:hover,.nav-1 li option:hover {
    color: aqua;
}

.nav-1 li a:visited{
    color: rgb(255, 255, 255);
}

.nav-1 li a:visited:hover{
    color: aqua;
}

div.div-all{
    padding-top: 50px;
    width: 90%;
    margin: auto;
    color: aliceblue;
}

h1, h2{
    color: #ffffff;
   padding: 1,9em;
}

.div-all-end{
    width: 70%;
    margin: auto;
    padding: 1.9em;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    background: linear-gradient(152deg, rgba(3,0,50,1) 0%, rgba(40,9,226,1) 18%, rgba(42,3,243,1) 38%, rgba(13,86,130,1) 75%, rgba(0,125,151,1) 89%);
}

.section-contact form{
    width: 190px;
    text-align: start;
    margin: auto;
}

section ul li a{
    color: black;
}

.section-contact form textarea,
section form textarea{
    resize: none;
    border-radius: 10px;
    border: #030032 2px solid;
    padding: 10px;
    background: linear-gradient(152deg, rgba(3,0,50,1) 0%, rgba(40,9,226,1) 18%, rgba(42,3,243,1) 38%, rgba(13,86,130,1) 75%, rgba(0,125,151,1) 89%);
    color: rgb(255, 255, 255);
}

section form button,
section button{
    border: none;
    background: orangered;
    padding: 9px;
    border-radius: 20px;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    background-color: #030032;
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: aliceblue;
}

/* Іконка меню */
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 28px;
    right: 35px;
    color: #ffffff; /* Колір іконки */
}

/* Медіа-запит для мобільної версії */
@media screen and (max-width: 889px) {
    .nav-1 {
        display: none;
        flex-direction: column;
        background: linear-gradient(152deg, rgba(3,0,50,1) 0%, rgba(40,9,226,1) 18%, rgba(42,3,243,1) 38%, rgba(13,86,130,1) 75%, rgba(0,125,151,1) 89%);
        position: absolute;
        top: 90px;
        right: 0;
        width: 20%;
        padding: 20px;
        z-index: 999;
        text-align: center;
        color: #ffffff;
        border: 2px solid white;
        border-start-start-radius: 10px;
        border-end-start-radius: 10px;
    }

    .nav-1.active {
        display: flex;
    }

    .nav-1 li a:visited{
        color: rgb(255, 255, 255);
    }
    

    .nav-1 li {
        margin: 10px 0;
    }

    .nav-1 a {
        color: #fff; /* Колір тексту у мобільному меню */
        font-size: 18px; /* Розмір шрифту */
        text-align: center; /* Центрування тексту */
    }

    /* Відображаємо іконку меню на мобільних екранах */
    .menu-icon {
        display: block;
    }

    .nav-1 li select{
        background-color: rgb(255, 255, 255);
        border: none;
        font-size: 0.9em;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        padding: 3px;
    }

    .nav-1 li option{
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
}

/*-------------------------INFO------------------*/
.hero{
    padding-bottom: 2rem;
}

.hero--info{
    width: 50%;
    padding: 4rem 0;
}

.hero--info h2{
    font-size: 1.9rem;
}

.hero .hero--info h2 svg{
    position: relative;
    top: 6px;
}

.button--info{
    background-color: rgb(230, 111, 0);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transition: all 500ms ease;
    margin: 1.5rem;
    font-size: 1rem;
}

.button--info:active{
    background-color: rgb(255, 0, 0);
}

.button--info a{
    color: #fff;
}

.button--info:hover{
    transform: scale(1.1);
}

.suntaksis{
    background-color: black;
    width: max-content;
    /*max-width: 100%;*/
    border: gray solid 2px;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 3rem;
}

.w-3com{
   background-color: #ccc; 
   width: 100%;
   border-radius: 10px;
   border: 1px solid black;
}

/*---------------------SUNTAKSIS-----------------------*/
.suntaksis h2{
    padding-bottom: 0.5rem;
}

.suntaksis h3{
    padding: 1rem 1rem;
    color: #000000;
}

.pre-code{
    padding:0 1rem 1rem 1rem;
}

pre {
    background-color: #000000;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
}

code{
    font-size: 0.97rem;
    padding: 0rem;
}

.tag {
     color: #0000FF; 
}

.attribute-name { 
    color: #e00000; 
}

.attribute-value { 
    color: #008000; 
}

.text { 
    color: #ffffff; 
}

.p-h3{
    width: 30%;
    margin-left: 0.3rem;
    text-align: center;
    margin: auto;
    padding-top: 3rem;
}

.p-h3-2{
    width: 30%;
    margin-left: 0.3rem;
    text-align: center;
    margin: auto;
    padding-right:2rem ;
}

.w-2block{
    display: inline-block;
}

.flex-block-1{
    display: flex;
}

.flex-block-2{
    display: flex;
}

.yellow-1{
    color: yellow;
}

.green-1{
    color: #76ff76;
}

.blue-1{
    color: aqua;
}

.violet{
    color: violet;
}

@media(max-width:1200px){
    .hero--info{
        width: 100%;
        padding: 1.5rem 0;
    }
    .suntaksis{
       /* display: none;*/
       max-width: 90%;
    }
    .p-h3{
        width: 100%;
        padding-top:0 ;
        text-align: left;
    }
    .p-h3 h3{
        font-size: 1rem;
    }
    .p-h3-2{
        width: 100%;
        padding-top:1rem ;
        text-align: left;
    }
    .p-h3-2 h3{
        font-size: 1rem;
    }
}